!!! 5
%html{ :lang => 'en'}
  %head
    %title= 'Backbone Bootstrap'
    %link{ :rel => 'shortcut icon', :href => asset_path('favicon.ico') }
    %link{ :charset => 'utf-8', :href => asset_path('application.css'), :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }
  %body
    #header
      %h1 Backbone Bootstrap
    #content
    %script{ :src => asset_path('application.js') }
